.color-logo-no-background-20 {
  height: 223px;
  width: 223px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bio-rsum-portfolio {
  width: 432.6px;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.bio-nav-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.bg {
  position: absolute;
  height: 87.61%;
  width: 87.61%;
  top: 6.34%;
  right: 6.04%;
  bottom: 6.04%;
  left: 6.34%;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 92.8px;
  background-color: #1275b1;
}
.linked-in-icon {
  position: absolute;
  height: 43.81%;
  width: 46.83%;
  top: 25.08%;
  right: 25.08%;
  bottom: 31.12%;
  left: 28.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.linkedin {
  width: 33.1px;
  position: relative;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  height: 33.1px;
}
.buttonsbutton-utility {
  width: 50px;
  box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset,
    0px -2px 0px rgba(10, 13, 18, 0.05) inset,
    0px 1px 2px rgba(10, 13, 18, 0.05);
  border-radius: 8.8px;
  background-color: #fff;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
  box-sizing: border-box;
}
.resume-nav-wrapper {
  width: 77.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}
.nav-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
  max-width: 100%;
}
.header-nav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.content {
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 537.9px;
  max-width: 112%;
  text-align: center;
  font-size: 16px;
  color: #d9d9d9;
  font-family: Inter;
}
.header {
  height: 50px;
  width: 1296px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 135px;
  box-sizing: border-box;
  max-width: 100%;
}
.innovate-integrate-elevate {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans";
}
.i-bring-a {
  margin: 0;
}
.i-bring-a-container {
  width: 697px;
  position: relative;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 42px;
  color: #d9d9e1;
  display: inline-block;
  opacity: 0.8;
  min-height: 168px;
  max-width: 100%;
}
.file-06-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text1 {
  height: 28px;
  width: 70px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
}
.text-padding {
  height: 28px;
  width: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 2px;
  box-sizing: border-box;
}
.placeholder-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.buttonsbutton1 {
  width: 230px;
  box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset,
    0px -2px 0px rgba(10, 13, 18, 0.05) inset,
    0px 1px 2px rgba(10, 13, 18, 0.05);
  background-color: #000;
  border: 2px solid #fff;
  box-sizing: border-box;
  height: 65px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 22px;
  gap: 8px;
}
.grid-01-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.text2 {
  text-decoration: none;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  color: inherit;
}
.text-padding1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 2px;
}
.buttonsbutton3 {
  width: 230px;
  box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset,
    0px -2px 0px rgba(10, 13, 18, 0.05) inset,
    0px 1px 2px rgba(10, 13, 18, 0.05);
  background-color: #fff;
  border: 2px solid #181d27;
  box-sizing: border-box;
  height: 65px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 22px;
  gap: 8px;
}
.buttonsbutton2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #000;
}
.button {
  margin: 0 !important;
  position: absolute;
  bottom: -47px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  z-index: 1;
  font-size: 18px;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 30px;
  max-width: 100%;
}
.trustpilot-1-1-icon {
  height: 30.2px;
  width: 123px;
  position: relative;
  object-fit: contain;
}
.star-icon {
  align-self: stretch;
  height: 15.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.star-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0px 0px;
}
.rating {
  position: relative;
  line-height: 24px;
  opacity: 0.7;
}
.rating-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.2px;
}
.text3 {
  height: 31px;
  width: 340px;
  margin: 0 !important;
  position: absolute;
  bottom: -105px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  font-size: 16px;
  color: #334155;
}
.text-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 18px;
  max-width: 100%;
}
.image-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.avatar-profile-photo {
  height: 514px;
  width: 514px;
  position: relative;
  border-radius: 9999px;
  max-width: 100%;
  margin-left: -2px;
}
.content1 {
  width: 1260px;
  margin: 0 !important;
  position: absolute;
  bottom: -327.5px;
  left: -1098px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0px 2px 0px 0px;
  box-sizing: border-box;
}
.filled-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.placeholder {
  height: 297.6px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}
.hero-image-container {
  width: 297.6px;
  margin: 0 !important;
  position: absolute;
  top: 63.9px;
  left: 1268px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-profile-photo1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 9999px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buttonsbutton-utility1 {
  width: 50px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(10, 13, 18, 0.2);
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.buttonsbutton-utility2 {
  width: 50px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(10, 13, 18, 0.2);
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.buttonsbutton-utility3 {
  width: 50px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(10, 13, 18, 0.2);
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.buttonsbutton-utility4 {
  width: 50px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(10, 13, 18, 0.2);
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.client-logos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.client-logos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 543px 0px 0px;
}
.filled-icon1 {
  height: 78px;
  width: 78px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.filled-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 150px;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}
.filled-icon2 {
  height: 136.3px;
  width: calc(100% - 19.7px);
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 68px);
  right: 9.7px;
  left: 10px;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.filled-container {
  height: 156px;
  width: 156px;
  margin: 0 !important;
  position: absolute;
  right: 577px;
  bottom: 89px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}
.hero-section {
  align-self: stretch;
  background-color: #1a6e17;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 21px 20px 65px 16px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 90px;
  color: #fff;
  font-family: Inter;
}
.bg1 {
  height: 692px;
  width: 1600px;
  position: relative;
  background-color: #2d2d2d;
  display: none;
  max-width: 100%;
}
.artistic-interior-design {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: -1px;
  line-height: 42px;
  font-weight: 600;
}
.interior-design-is {
  position: absolute;
  top: 57px;
  left: 0px;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  width: 380px;
  opacity: 0.8;
}
.text4 {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 380px;
  height: 147px;
}
.icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 70px;
}
.div {
  height: 257px;
  width: 380px;
  position: relative;
  display: none;
  max-width: 100%;
}
.icon1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75.4px;
  height: 70px;
}
.icon2 {
  height: 70px;
  width: 75.6px;
  position: relative;
  display: none;
}
.filled-icon3 {
  width: 146px;
  height: 146px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.bio {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.bio-container {
  width: 628.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 72px 0px 73px;
  box-sizing: border-box;
  max-width: 100%;
}
.versatile-tech-and {
  width: 648px;
  position: relative;
  line-height: 30px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.bio-description-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
}
.bio-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13.5px;
  max-width: 100%;
}
.bio-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 26px 0px 0px;
  box-sizing: border-box;
  min-width: 469px;
  max-width: 100%;
  font-family: "Plus Jakarta Sans";
}
.filled-icon4 {
  width: 600px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.feature-section {
  flex: 1;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 46px 69px 46px 79px;
  box-sizing: border-box;
  gap: 131px;
  max-width: 100%;
}
.filled-icon5 {
  height: 381.1px;
  width: 381.1px;
  position: absolute;
  margin: 0 !important;
  right: 71.1px;
  bottom: -122.1px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.feature-section-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 259px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-family: Inter;
}
.avatar-profile-photo5 {
  height: 550px;
  width: 550px;
  position: relative;
  border-radius: 9999px;
  max-width: 100%;
}
.on-track {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.case-study {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 26px;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  margin-top: -6px;
}
.on-track-field-inc-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-basic-catalog {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 32px;
  font-family: Inter;
  color: rgba(18, 20, 29, 0.8);
}
.eye-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text6 {
  text-decoration: none;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.buttonsbutton4 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35.9px;
}
.frame-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 37px;
  box-sizing: border-box;
  min-width: 413px;
  max-width: 100%;
}
.avatar-profile-photo-parent {
  width: 1272px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 86px;
  max-width: 100%;
}
.filled-icon6 {
  width: 172px;
  height: 172px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.relaybatonscom {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.case-study1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 26px;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  margin-top: -7.8px;
}
.relaybatonscom-parent {
  width: 636px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.relaybatonscom-was-founded {
  width: 636px;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 32px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.relaybatonscom-was-founded-in-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 4.2px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 20px;
  color: rgba(18, 20, 29, 0.8);
  font-family: Inter;
}
.buttonsbutton-wrapper {
  width: 436px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.filled-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31.5px;
  min-width: 480px;
  max-width: 100%;
}
.avatar-profile-photo6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 9999px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.avatar-profile-photo-wrapper {
  height: 665px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 115px 0px 0px;
  box-sizing: border-box;
  min-width: 550px;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 65px;
  max-width: 100%;
}
.case-studies-wrapper-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 21px 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.case-studies-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 31px;
  max-width: 100%;
}
.filled-icon7 {
  height: 298.2px;
  width: 298.2px;
  position: absolute;
  margin: 0 !important;
  right: 479.8px;
  bottom: -0.2px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.case-studies {
  width: 1473px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 49px 301px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 46px;
  color: #12141d;
  font-family: "Plus Jakarta Sans";
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 34px;
}
.avatar-profile-photo-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 110px;
  max-width: 100%;
}
.nelson-davis-productions {
  margin: 0;
  align-self: stretch;
  height: 47.4px;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.case-study3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 26px;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.7px;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px 5px;
  box-sizing: border-box;
  min-width: 413px;
  max-width: 100%;
}
.filled-icon8 {
  height: 129.2px;
  width: 129.2px;
  position: absolute;
  margin: 0 !important;
  top: -123.7px;
  left: -68px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.project {
  width: 1283px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  gap: 97px;
  max-width: 100%;
}
.frame-div {
  width: 1296px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 217px;
  max-width: 100%;
}
.filled-icon9 {
  height: 153.6px;
  width: 153.6px;
  position: absolute;
  margin: 0 !important;
  right: 242px;
  bottom: -4px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px 183px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 46px;
  color: #12141d;
  font-family: "Plus Jakarta Sans";
}
.section-banner-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.logomark-icon {
  width: 41px;
  height: 22px;
  position: relative;
  display: none;
}
.carbwarscookbookscom {
  height: 40px;
  flex: 1;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
}
.client {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 478px;
}
.i-highly-recommend {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.quote {
  align-self: stretch;
  height: 160px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.contrast-border {
  width: 64px;
  position: relative;
  border-radius: 9999px;
  border: 0.8px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar {
  height: 64px;
  width: 64px;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("./public/avatar@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 576px;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.supporting-text {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #e9d7fe;
}
.details1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.author {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 32px;
  box-sizing: border-box;
  gap: 32px;
  max-width: 1280px;
}
.testimonial-section {
  align-self: stretch;
  background-color: #2d2d2d;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 96px 0px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: Inter;
}
.bg2 {
  width: 1444.1px;
  height: 308.9px;
  position: relative;
  background-color: #e3dcd4;
  display: none;
  max-width: 100%;
}
.bg3 {
  width: 1600px;
  height: 882px;
  position: relative;
  background-color: #fff;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.questions-you-might {
  margin: 0;
  height: 69.1px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.title1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 164px;
  box-sizing: border-box;
  max-width: 100%;
}
.bg4 {
  width: 1280px;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  background-color: #ebe5e0;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  height: 195.5px;
  display: none;
}
.q-what-do {
  width: 856.3px;
  height: 33.4px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.i-am-a {
  width: 1065.9px;
  height: 71.5px;
  position: relative;
  line-height: 30px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.container1 {
  width: 1065.9px;
  flex-shrink: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  overflow: hidden;
}
.accordion-contentaccordion-def {
  width: 1065.9px;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: 1fr;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 18px;
  color: rgba(18, 20, 29, 0.8);
}
.accordion-contentaccordion-def.accordion__open {
  grid-template-rows: 1fr;
}
.accordion-contentaccordion-def.accordion__close {
  grid-template-rows: 0fr;
}
.vector-icon {
  width: 17.8px;
  height: 2.6px;
  position: relative;
  z-index: 1;
}
.item {
  width: 1280px;
  height: 195.5px;
  border-radius: 10px 10px 0px 0px;
  background-color: #ebe5e0;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34px 46px 34px 47px;
  gap: 101.1px;
  flex-shrink: 0;
  z-index: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}
.bg5 {
  width: 1280px;
  position: relative;
  background-color: #f5f1ee;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  height: 104.9px;
  display: none;
}
.q-can-you {
  width: 856.3px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: Inter;
  font-size: 20px;
  background-color: transparent;
  height: 33.4px;
  position: relative;
  line-height: 28px;
  color: #12141d;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.vector-icon1 {
  width: 17.8px;
  height: 17.9px;
  position: relative;
  z-index: 1;
}
.vector-wrapper {
  height: 23.8px;
  width: 17.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.9px 0px 0px;
  box-sizing: border-box;
}
.div2 {
  height: 104.9px;
  width: 1280px;
  background-color: #f5f1ee;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34px 45px 34px 47px;
  gap: 403.3px;
  flex-shrink: 0;
  z-index: 2;
}
.accordion-content {
  position: relative;
  display: none;
}
.div3 {
  position: absolute;
  width: 0;
  height: 0;
}
.frame-46-close {
  width: 1280px;
  height: 109.6px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 4.7px;
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  color: transparent;
}
.q-can-you1 {
  width: 764.7px;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: Inter;
  font-size: 20px;
  background-color: transparent;
  height: 33.4px;
  position: relative;
  line-height: 28px;
  color: #12141d;
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.item1 {
  width: 1280px;
  height: 109.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 4.7px;
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  margin-top: -10.7px;
}
.q-what-do1 {
  width: 764.7px;
  height: 33.4px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  z-index: 1;
}
.accordion-content1 {
  width: 1065.9px;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 18px;
  color: rgba(18, 20, 29, 0.8);
}
.accordion-content1.accordion__open {
  grid-template-rows: 1fr;
}
.accordion-content1.accordion__close {
  grid-template-rows: 0fr;
}
.q-what-do-you-do-parent {
  height: 123.9px;
  width: 1065.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
}
.vector-container {
  height: 18.1px;
  width: 17.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15.5px 0px 0px;
  box-sizing: border-box;
}
.accordion-content2 {
  position: relative;
  color: transparent;
  display: none;
}
.open {
  width: 1280px;
  height: 195.5px;
  border-radius: 10px 10px 0px 0px;
  background-color: #ebe5e0;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34px 46px 34px 47px;
  gap: 101.1px;
  flex-shrink: 0;
  z-index: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}
.bg8 {
  width: 1280px;
  position: relative;
  background-color: #f5f1ee;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  height: 104.9px;
  display: none;
  z-index: 0;
}
.q-are-you {
  height: 33.4px;
  width: 760px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.icon5 {
  height: 23.9px;
  width: 17.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0px 0px;
  box-sizing: border-box;
}
.filled-icon10 {
  height: 144.2px;
  width: 144.2px;
  position: absolute;
  margin: 0 !important;
  bottom: -108.1px;
  left: -144px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 4;
}
.item2 {
  width: 1280px;
  height: 104.9px;
  background-color: #f5f1ee;
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34px 45px 34px 47px;
  position: relative;
  gap: 408px;
  flex-shrink: 0;
  z-index: 3;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  margin-top: -10.7px;
}
.q-what-do2 {
  width: 760px;
  height: 33.4px;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
  font-family: Inter;
}
.filled-icon11 {
  width: 320.4px;
  height: 320.4px;
  position: absolute;
  margin: 0 !important;
  top: 47.9px;
  right: 0px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.faq1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 120px 214px 208.9px 160px;
  box-sizing: border-box;
  position: relative;
  gap: 95.4px;
  max-width: 104%;
  z-index: 3;
}
.copyright-2024-all {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: -24.4px;
  line-height: 26px;
  white-space: nowrap;
}
.bottom {
  height: 26px;
  width: 243.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 16px;
  box-sizing: border-box;
  position: relative;
  z-index: 5;
}
.bio-rsum-portfolio1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: #000;
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.content5 {
  width: 1264px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.footer {
  width: 1584px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  font-family: Inter;
}
.faq {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: 46px;
  color: #12141d;
  font-family: "Plus Jakarta Sans";
}
.landing-rogeryaucom {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 178px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1275px) {
  .content {
    gap: 269px;
  }

  .header {
    padding-left: 67px;
    box-sizing: border-box;
  }

  .filled-icon4 {
    flex: 1;
  }

  .feature-section {
    gap: 65px;
    flex-wrap: wrap;
    padding-left: 39px;
    padding-right: 34px;
    box-sizing: border-box;
  }

  .avatar-profile-photo6 {
    align-self: stretch;
    width: auto;
  }

  .avatar-profile-photo-wrapper {
    flex: 1;
  }

  .frame-group {
    flex-wrap: wrap;
  }

  .case-studies {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 196px;
    box-sizing: border-box;
  }

  .frame-div {
    gap: 108px;
  }

  .frame-section {
    padding-bottom: 119px;
    box-sizing: border-box;
  }

  .client {
    padding-left: 239px;
    padding-right: 239px;
    box-sizing: border-box;
  }

  .info {
    padding-left: 288px;
    padding-right: 288px;
    box-sizing: border-box;
  }

  .container {
    max-width: 100%;
  }

  .title1 {
    padding-left: 82px;
    padding-right: 82px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .hero-section {
    padding-top: 20px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }

  .feature-section-parent {
    padding-bottom: 168px;
    box-sizing: border-box;
  }

  .avatar-profile-photo5 {
    flex: 1;
  }

  .avatar-profile-photo-parent {
    flex-wrap: wrap;
  }

  .avatar-profile-photo-group {
    flex-wrap: wrap;
  }

  .project {
    flex-wrap: wrap;
  }

  .faq1 {
    gap: 48px;
    padding: 78px 107px 136px 80px;
    box-sizing: border-box;
  }

  .content5 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .content {
    gap: 134px;
  }

  .header {
    padding-left: 33px;
    box-sizing: border-box;
  }

  .innovate-integrate-elevate {
    font-size: 45px;
    line-height: 60px;
  }

  .button {
    flex-wrap: wrap;
  }

  .client-logos-container {
    padding-top: 353px;
    box-sizing: border-box;
  }

  .artistic-interior-design {
    font-size: 24px;
    line-height: 34px;
  }

  .bio {
    font-size: 24px;
    line-height: 34px;
  }

  .bio-container {
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
  }

  .bio-content {
    min-width: 100%;
  }

  .feature-section {
    gap: 33px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }

  .feature-section-parent {
    padding-bottom: 109px;
    box-sizing: border-box;
  }

  .on-track {
    font-size: 37px;
    line-height: 46px;
  }

  .frame-parent {
    gap: 18px;
  }

  .frame-wrapper {
    min-width: 100%;
  }

  .avatar-profile-photo-parent {
    gap: 43px;
  }

  .relaybatonscom {
    font-size: 37px;
    line-height: 46px;
  }

  .filled-parent {
    gap: 16px;
    min-width: 100%;
  }

  .avatar-profile-photo-wrapper {
    padding-top: 75px;
    box-sizing: border-box;
    min-width: 100%;
  }

  .frame-group {
    gap: 32px;
  }

  .case-studies-wrapper {
    gap: 15px;
  }

  .case-studies {
    padding-bottom: 127px;
    box-sizing: border-box;
  }

  .frame-parent1 {
    gap: 17px;
  }

  .avatar-profile-photo-group {
    gap: 55px;
  }

  .nelson-davis-productions {
    font-size: 37px;
    line-height: 46px;
  }

  .details {
    min-width: 100%;
  }

  .project {
    gap: 48px;
  }

  .frame-div {
    gap: 54px;
  }

  .frame-section {
    padding-bottom: 77px;
    box-sizing: border-box;
  }

  .client {
    padding-left: 119px;
    padding-right: 119px;
    box-sizing: border-box;
  }

  .info {
    padding-left: 144px;
    padding-right: 144px;
    box-sizing: border-box;
  }

  .container {
    gap: 16px;
  }

  .testimonial-section {
    padding-top: 62px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }

  .questions-you-might {
    font-size: 37px;
    line-height: 46px;
  }

  .title1 {
    padding-left: 41px;
    padding-right: 41px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .content {
    gap: 67px;
  }

  .innovate-integrate-elevate {
    font-size: 27px;
    line-height: 40px;
  }

  .i-bring-a-container {
    font-size: 19px;
    line-height: 34px;
  }

  .client-logos-container {
    padding-top: 229px;
    box-sizing: border-box;
  }

  .hero-section {
    padding-bottom: 27px;
    box-sizing: border-box;
  }

  .artistic-interior-design {
    font-size: 18px;
    line-height: 25px;
  }

  .bio {
    font-size: 18px;
    line-height: 25px;
  }

  .feature-section {
    gap: 16px;
  }

  .on-track {
    font-size: 28px;
    line-height: 35px;
  }

  .case-study {
    font-size: 21px;
    line-height: 46px;
  }

  .a-basic-catalog {
    font-size: 16px;
    line-height: 26px;
  }

  .avatar-profile-photo-parent {
    gap: 21px;
  }

  .relaybatonscom {
    font-size: 28px;
    line-height: 35px;
  }

  .case-study1 {
    font-size: 21px;
    line-height: 46px;
  }

  .relaybatonscom-was-founded {
    font-size: 16px;
    line-height: 26px;
  }

  .frame-group {
    gap: 16px;
  }

  .case-studies {
    padding-bottom: 83px;
    box-sizing: border-box;
  }

  .avatar-profile-photo-group {
    gap: 27px;
  }

  .nelson-davis-productions {
    font-size: 28px;
    line-height: 35px;
  }

  .case-study3 {
    font-size: 21px;
    line-height: 46px;
  }

  .project {
    gap: 24px;
  }

  .frame-div {
    gap: 27px;
  }

  .client {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .quote {
    font-size: 19px;
    line-height: 26px;
  }

  .info {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .questions-you-might {
    font-size: 28px;
    line-height: 35px;
  }

  .q-what-do {
    font-size: 16px;
    line-height: 22px;
  }

  .q-can-you {
    font-size: 16px;
    line-height: 22px;
  }

  .q-can-you1 {
    font-size: 16px;
    line-height: 22px;
  }

  .q-what-do1 {
    font-size: 16px;
    line-height: 22px;
  }

  .q-are-you {
    font-size: 16px;
    line-height: 22px;
  }

  .q-what-do2 {
    font-size: 16px;
    line-height: 22px;
  }

  .faq1 {
    gap: 24px;
    padding: 51px 20px 88px;
    box-sizing: border-box;
  }
}


* { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 2rem;
      color: white;   

    }

  }

}


